.footer {
  background: $bg-dark;
  padding: 57px 0 50px;
  > .container {
   flex-direction: column;
    > .row {
      width: 100%;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 37px 0 25px;
    .navbar-nav.ta-menu {
      order: 1;
      width: 100%;
      justify-content: center;
      .nav-item {
        padding: 0 10px;
      }
    }

    .navbar-nav.ta-contacts {
      align-items: center;
      .ta-contacts_phone {
        font-size: 18px;
      }
    }

    .ta-social > a {
      width: 35px;
      height: 35px;
      margin: 0 10px;
      background-size: contain;
    }
  }
  @include media-breakpoint-down(sm) {
    .navbar-nav.ta-contacts {
      flex-direction: column !important;
      .ta-contacts_phone {
        font-size: 16px;
      }
    }
    .ta-contacts_social .nav-link {
      width: 25px;
      height: 25px;
      margin: 5px 5px;
    }
  }
  @include media-breakpoint-down(xs) {
    .navbar-nav.ta-menu {
      order: 0;
    }
    .ta-logo {
      width: 100%;
      text-align: center;
      a {
        margin: 0;
      }
    }
    .navbar-nav.ta-contacts {
      width: 100%;
    }
  }
}

.ta-social {
  margin-top: 10px;
  > a {
    width: 40px;
    height: 40px;
    margin: 0 15px;
    background-repeat: no-repeat;
    &.inst {
      background-image: url("../images/social/inst.png");
    }
    &.vk {
      background-image: url("../images/social/vk.png");
    }
    &.fb {
      background-image: url("../images/social/fb.png");
    }
  }
}

.ta-top {
  display: block;
  position: fixed;
  width: 81px;
  height: 70px;
  bottom: 31px;
  right: 82px;
  opacity: 0;
  padding: 12px;
  transition: .3s;
  &.active {
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
  svg {
    .fill {
      fill: $primary;
    }
  }

  @media screen and (max-width: 650px) {
    bottom: 0px;
    right: 25px;
  }

  @media screen and (max-width: 450px) {
    width: 74px;
    height: 56px;
    bottom: 0px;
    right: 15px;
  }

}