.ta-form {
  margin-top: 40px;
  .form-group {
    margin-bottom: 20px;
    @include media-breakpoint-down(xs) {
      margin-bottom: 15px;
    }
    label {
      color: $white;
      font-weight: 600;
      line-height: 1.3;
      font-size: 16px;
      margin-bottom: 0;
      @include media-breakpoint-down(xs) {
        font-size: 14px;
      }
    }
    input, textarea {
      padding: 15px 20px 15px 65px;
      border: 1px solid #d9d9d9;
      background-repeat: no-repeat;
      background-position: 16px center;
      font-weight: 600;
      @include media-breakpoint-down(md){
        padding: 10px 15px 10px 60px;
      }
      @include media-breakpoint-down(xs) {
        padding: 7px 10px 7px 30px;
        background-size: 16px;
        background-position: 10px center;
      }
      &.name {
        background-image: url("../images/form/person.png");
      }
      &.phone {
        background-image: url("../images/form/phone.png");
      }
      &.city {
        background-image: url("../images/form/business.png");
      }
      &.comment {
        background-image: url("../images/form/chat_bubble.png");
        background-position: 16px 16px;
        @include media-breakpoint-down(xs) {
          background-position: 10px 10px;
        }
      }
      &.email {
        background-image: url("../images/form/email.png");
      }
      &:focus {
        border-color: $secondary;
        box-shadow: inset 0 0 4px 0 $secondary;
      }

      &.is-invalid {
        border-color: $danger;
        box-shadow: inset 0 0px 24px 0 $danger;
      }
    }
    &.required {
      label{
        &::after{
          content: '*';
          color: $secondary;
          display: inline-block;
          margin-left: 2px;
        }
      }
    }
    .invalid-feedback {
      font-size: 16px;
      color: #f95968;
      @include media-breakpoint-down(xs) {
        font-size: 11px;
      }
    }
  }
  &_button {
    display: block;
    max-width: 456px;
    margin: 30px auto;
    font-size: 20px;
    font-weight: 700;
    border: none;
    width: 95%;
    padding: 16px;
    @include gradient-y(#ff1b45, #cc0584, 0%, 100%);
    transition: .3s;
    &:hover {
      background-position-y: 93px;
    }
    &::before {
      content: url(../images/thumb_up.png);
      display: inline-block;
      left: -34px;
      margin-right: 16px;
      margin-top: 2px;
      vertical-align: middle;
    }
    @include media-breakpoint-down(xs) {
      font-size: 15px;
      padding: 12px;
    }
  }
  &_personal {
    font-size: 12px;
    color: rgba($white, .5);
    max-width: 295px;
    margin: 25px auto 0;
    padding-left: 25px;
    position: relative;
    line-height: 1.3;
    &::before {
      content: '';
      background: url("../images/check-gray.png") no-repeat;
      display:block;
      position: absolute;
      width: 15px;
      height: 11px;
      left: 0;
      top: 3px;
    }
  }
  @include media-breakpoint-down(xs) {
    margin-top: 10px;
  }
}