.header {
  background: transparent;
}

.ta-logo {
  a {
    width: 288px;
    height: 44px;
    background: url("../images/logo.png") no-repeat center center;
    text-indent: -99999px;
    max-width: 100%;
    background-size: contain;
  }
  &_white {
   a {
     background-image: url("../images/logo-w.png");
   }
  }


}


.navbar {
  padding: 2rem 1rem;
}

.navbar-nav {
  .nav-link {
    transition: .3s;
  }
}

.navbar-nav.ta-menu {
  .nav-link {
    font-size: 16px;
    font-weight: 600;
  }
}

.ta-contacts {
  &_social {
    display: flex;
    align-items: center;
    .nav-link {
      width: 36px;
      height: 36px;
      svg {
        .fill {
          fill: $secondary;
          transition: .3s;
        }
      }
      &:hover {
        svg {
          .fill {
            fill: $primary;
          }
        }
      }
    }
  }
  &_phone {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
  @media screen and (max-width: 1199px) {
    flex-direction: column !important;
    .nav-item a {
      line-height: 1;
      padding: 0.2rem;
    }
    &_social {
      justify-content: flex-end;
    }
  }
  @include media-breakpoint-down(md) {
    flex-direction: row !important;
    justify-content: space-around;
    &_social {
      .nav-link {
        width: 28px;
        height: 28px;
        margin: 0 5px;
      }
    }
  }
}

@include media-breakpoint-down(md){
  body > .ta-all-content {
    position: relative;
    padding-top: 76px;
  }
  header.navbar {
    background: $bg-dark;
    position: absolute;
    width: 100%;
    padding: 1rem;
    top: 0;
    z-index: 5;
    .navbar-collapse {
      padding-bottom: 20px;
    }
  }
  .navbar-nav.ta-menu {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
  }
}

@include media-breakpoint-down(xs) {
  body > .ta-all-content {
    padding-top: 74px;
  }
  .navbar-toggler {
    padding: 0.1rem 0.5rem;
    font-size: 1.1rem;
  }
  .navbar-nav.ta-menu {
    flex-direction: column;
    align-items: center;
  }
  .ta-contacts {
    flex-direction: column!important;
    justify-content: center;
    align-items: center;
    .nav-item {
      margin-bottom: 10px;
      .ta-contacts_phone {
        font-size: 18px;
      }
    }
  }
}