.ta-inform {
  &_structure {
    .display-4 {
      text-align: left;
    }
    &_topic {
      margin: 30px 0 50px;
      display: flex;
      padding-right: 20px;
      &-num {
        margin-right: 35px;
        flex-shrink: 0;
        span {
          font-size: 56px;
          font-weight: 300;
          color: $secondary;
          display: block;
          line-height: 0.85;
        }
        .top-num {
          font-weight: 500;
          font-size: 10px;
          text-transform: uppercase;
          margin-left: 3px;
        }
      }
      &-text {
        color: $white;
        p {
          font-size: 20px;
          margin: 0;
          line-height: 1.2;
          &.name {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 13px;
          }
        }
      }
      @include media-breakpoint-down(md) {
        padding-right: 0;
        margin: 20px 0 30px;
        &-text {
          p {
            font-size: 16px;
            &.name {
              font-size: 20px;
              font-weight: 700;
              margin-bottom: 7px;
            }
          }
        }
        &-num {
          margin-right: 20px;
          span {
            font-size: 44px;
          }
          .top-num {
            font-size: 9px;
          }
        }
      }
      @include media-breakpoint-down(xs) {
        &-text {
          p {
            font-size: 14px;
            &.name {
              font-size: 18px;
            }
          }
        }
        &-num {
          margin-right: 15px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      span {
        font-size: 30px;
      }
      .top-num {
        font-size: 10px;
      }
    }
  }
  &_schedule {
    &_title {
      display: flex;
      align-items: center;
      margin-bottom: 23px;
      .display-4 {
        text-align: left;
      }
      span {
        color: rgba($white, .5);
        font-size: 11px;
        line-height: 1.4;
        margin-left: 20px;
        position: relative;
        &::before {
          content:'*';
          display: block;
          position:absolute;
          left: -10px;
        }
      }
      @include media-breakpoint-down(xs) {
        align-items: self-start;
        margin-bottom: 23px;
        flex-direction: column;
        span {
          font-size: 13px;
          br {
            display: none;
          }
          &::before {
            display: none;
          }
        }
      }
    }
    &_box {
      > div {
        display: flex;
        color: $white;
        margin-bottom: 15px;
        align-items: flex-start;
      }
    }
    &_time {
      font-size: 20px;
      font-weight: 700;
      color: $secondary;
      width: 50px;
      line-height: 1;
      flex-shrink: 0;
      @include media-breakpoint-down(md) {
        font-size: 18px;
      }
    }
    &_actions {
      font-size: 15px;
      line-height: 1.3;
      margin-left: 28px;
      @include media-breakpoint-down(md) {
        font-size: 14px;
        margin-left: 20px;
      }
    }
  }
}