body {
  color:$black;
}

button:focus {
  outline-color: $primary;
}

.ta-slide {
  &_bg {
    box-shadow: inset 0px 0px 0px 3000px $bg-shadow;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &_content {
    padding: 4.5rem 15px;
    @include media-breakpoint-down(md) {
      padding: 3.5rem 15px;
    }
    @include media-breakpoint-down(xs) {
      padding: 2rem 15px;
    }
  }
}

.display-1 {
  text-align: center;
  color: $primary;
  @include media-breakpoint-down(md) {
    font-size: 3rem;
  }
  @include media-breakpoint-down(xs) {
    font-size: 1.75rem;
  }
}

.display-2 {
  color: $black-light;
  text-align: center;
   + .after-h {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: $black;
    margin-top: 15px;
  }
  &.display-primary {
    color: $primary;
  }
  @include media-breakpoint-down(md) {
    font-size: 2rem;
    + .after-h {
      font-size: 18px;
    }
  }
  @include media-breakpoint-down(sm){
    font-size: 1.75rem;
    + .after-h {
      margin-top: 10px;
    }
  }
  @include media-breakpoint-down(xs){
    font-size: 1.45rem;
     + .after-h {
      font-size: 16px;
    }
  }
}
.display-3, .display-4 {
  color: $black-light;
  text-align: center;
  & + .after-h {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: $black;
    margin-top: 15px;
    @include media-breakpoint-down(xs) {
      font-size: 14px;
    }
  }
  &.display-primary {
    color: $primary;
  }
  &.display-white {
    color: $white;
     + .after-h {
      color: $white;
       font-weight: normal;
    }
  }
}

@include media-breakpoint-down(md){
  .display-3 {
    font-size: 1.8rem;
  }
  .display-4 {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-down(xs) {
  .display-3 {
    font-size: 1.4rem;
  }
  .display-4 {
    font-size: 1.1rem;
  }
}


.btn.ta-button {
  font-size: 20px;
  font-weight: 700;
  padding: 24px 67px;
  border-radius: 80px;
  margin-top: 73px;
  border: none;

  @include gradient-y(#ff1b45, #cc0584, 0%, 100%);
  transition: .3s;
  &:hover {
    background-position-y: 93px;
  }
  &.with-ico {
    padding-left: 113px;
    position: relative;
    &::before {
      content: url(../images/cut-ico.png);
      position: absolute;
      left: 34px;
      margin-top: 2px;
    }
  }
  @include media-breakpoint-down(md) {
    font-size: 18px;
    margin-top: 55px;
    padding: 20px 55px;
    &.with-ico {
      padding-left: 84px;
    }
  }
  @include media-breakpoint-down(xs) {
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 35px;
    &.with-ico {
      padding-left: 60px;
      &::before {
        content: '';
        position: absolute;
        left: 25px;
        margin-top: 2px;
        width: 21px;
        height: 22px;
        background: url(../images/cut-ico.png) no-repeat;
        background-size: contain;
      }
    }
  }
}

.ta-button-block{
  text-align: center;
}