.ta-reviews {
  margin-top: 50px;
  padding-bottom: 70px;
  .slick-track {
    display: flex;
    align-items: stretch;
  }
  .slick-slide {
    height: auto;
    min-height: 100%;
    flex: 1 1;
    outline: none;
  }
  .slick-dots {
    position: absolute;
  }
  &_item {
    margin: 0;
    height: 100%;
    &-text {
      margin-left: -15px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      p{
        font-style: italic;
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 15px;
        flex: 1 1;
        &.name {
          font-style: normal;
          font-size: 20px;
          font-weight: 600;
          margin: 0;
          flex: 0;
        }
      }
      span.link {
        display: inline-block;
        line-height: 1;
        a{
          text-decoration: underline;
          font-size: 15px;
          display: inline-block;
          vertical-align: middle;
        }
        &::after {
          content: '\2192';
          display: inline-block;
          vertical-align: middle;
          margin-left: 3px;
          color: $link-color;
        }
      }
    }
    @include media-breakpoint-down(xs) {
      justify-content: center;
      &-image {
        margin-bottom: 10px;
      }
      &-text {
        text-align: center;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    margin-top: 25px;
    padding-bottom: 60px;
    .slick-dots {
      margin: 20px auto 0;
    }
  }
}

.ta-reviews_modal {
  &-list {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    a {
      height: 60px;
      margin: 0 5px;
      opacity: 0.7;
      transition: .3s;
      border-radius: 50%;
      img {
        max-height: 100%;
        height: auto;
      }
      &:hover {
        opacity: 0.95;
      }
      &.active {
        opacity: 1;
      }
    }
  }
  &-content {
    padding: 15px;
    overflow: hidden;
    max-height: 500px;

    img {
      max-width: 220px;
      margin: 0 20px 20px 0;
    }
    p{
      font-style: italic;
      font-size: 16px;
      line-height: 1.3;
      margin-bottom:  15px;
      flex: 1 1;
      &.name {
        font-style: normal;
        font-size: 20px;
        font-weight: 600;
        margin-bottom:  20px;
        flex: 0;
      }
    }
    @include media-breakpoint-down(xs) {
      padding: 0;
      img {
        max-width: 145px;
      }
    }
  }
}


.ta-graphics {
  margin-bottom: 125px;
  >a {
    margin-top: 30px;
    img {
      box-shadow: 0 -3px 46px 0px rgba($black, .27);;
    }
  }
  @include media-breakpoint-down(xs) {
    margin-bottom: 65px;
  }
}