#first-slide {
  background-image: url("../images/slide1.jpg");
  background-position: center 20%;
  position: initial;
  .ta-slide_content {
    padding: 5.2rem 15px 8rem;
    text-align: center;
    @include media-breakpoint-down(md) {
      padding-bottom: 7rem;
    }
    @include media-breakpoint-down(sm) {
      padding: 3.2rem 15px 3.5rem;
    }
    @include media-breakpoint-down(xs) {
      padding: 2.5rem 15px 2.5rem;
    }
  }

  .for-whom{
    font-size: 20px;
    text-align: center;
    color:  rgba($white, .77);
    margin-top: 20px;
    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
    @include media-breakpoint-down(sm) {
      br {
        display: none;
      }
    }
    @include media-breakpoint-down(xs) {
      font-size: 13px;
      font-weight: 600;
    }
  }
}

#second-slide {
  background-image: url("../images/slide2.png");
  background-repeat: no-repeat;
  min-height: 400px;
  background-size: 100% auto;
  position: relative;
  .triangle {
    width: 100%;
    position: absolute;
    bottom: -65px;
    text-align: center;
    &::after {
      content: '';
      display: inline-block;
      margin: auto;
      border: 30px solid transparent;
      border-top: 30px solid $white;
    }
  }
}

.ta-issues {
  margin: 64px 0 115px;
  font-size: 24px;
  > div {
    display: flex;
    align-items: center;
    span {
      line-height: 1.3;
    }
    &::before {
      content: '';
      background: url(../images/help.png) no-repeat;
      margin-right: 15px;
      width: 54px;
      height: 54px;
      display: block;
      background-size: contain;
      flex-shrink: 0;
    }
  }
  @include media-breakpoint-down(md) {
    margin: 64px 0 95px;
    font-size: 20px
  }
  @include media-breakpoint-down(sm) {
    font-size: 18px;
    margin: 32px 0 65px;
    > div {
      &::before {
        //content: '';
        //background: url("../images/help.png") no-repeat;
        //background-size: contain;
        //width: 90px;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    margin: 30px 0 40px;
    > div {
      margin-bottom: 20px;
      &::before{
        width: 51px;
      }
    }
  }
}

.ta-answers {
  margin-bottom: 20px;
  justify-content: space-around;
  >div {
    margin: 50px -40px 0 0;
    font-size: 20px;
    position: relative;
    &::before {
      content:' ';
      display: block;
      position: absolute;
      width: 36px;
      height: 28px;
      background: url("../images/check.png") no-repeat;
      left: -36px;
      top: 10px;
    }

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      margin: 25px -40px 0 0;
    }
  }
}

#third-slide {
  min-height: 400px;
  background-image: url("../images/slide3.jpg");
  box-shadow: inset 0px 0px 0px 3000px rgba(33, 15, 19, 0.85), inset 0px -228px 230px 0px #1d1016;

  .ta-slide_content {
    padding: 5.9rem 15px 5rem;
    @include media-breakpoint-down(md) {
      padding: 5rem 15px 4rem;
    }
  }
  .display-2 {
    margin-bottom: 57px;
    @include media-breakpoint-down(xs) {
      margin-bottom: 35px;
    }
  }
}

#photo-slide {
  padding-bottom: 50px;
  background: #1d1016;
  .display-3 {
    margin-bottom: 40px;
  }
  @include media-breakpoint-down(md) {
    margin-top: -2px;
  }
}

.ta-photos_slide {
  img {
    max-height: 420px;
    margin: 0 12px;
    outline: none;
    @media screen and (max-width: 500px) {
      height: auto;
      max-width: 500px;
      max-height: initial;
    }
  }
}

.ta-author {
  margin-top: 45px;
  justify-content: center;
  &_img{
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &_text {

  }
  &_quote {
    padding-left: 45px;
    font-family: $font-family-serif;
    font-size: 20px;
    font-style: italic;
    color: $black-light;
    position: relative;
    margin:33px 0 45px;
    span {
      font-family: $font-family-sans-serif;
      font-size: 80px;
      color: rgba($black, .5);
      position: absolute;
      left: 0px;
      top: -35px;
      font-style: normal;
    }
    @include media-breakpoint-down(md) {
      padding-left: 12px;
      font-size: 16px;
      margin: 13px 0 14px;
      span {
        font-size: 50px;
        top: -35px;
      }
    }
    @include media-breakpoint-down(xs) {
      margin-top: 35px;
      padding: 0 15px;
    }
  }
  &_sign {
    font-size: 24px;
    text-align: right;
    font-weight: 600;
    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
  }
  @include media-breakpoint-down(xs) {
    margin-top: 25px;
  }
}

.ta-advantages {
  margin-top: 60px;
  > div {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    &::before {
      content: url("../images/check_circle.png");
      display: block;
      margin-bottom: 10px;
    }
    @include media-breakpoint-down(md) {
      font-size: 13px;
      margin-bottom: 30px;
      &::before {
        margin-bottom: 0;
        float: left;
        height: 100%;
        margin-right: 10px;
        margin-top: 3px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    margin-top: 50px;
    margin-bottom: -37px;
  }
  @include media-breakpoint-down(xs) {
    margin-top: 40px;
    > div {
      margin-bottom: 20px;
    }
  }
}

#reviews-slide {
  padding-top: 40px;
  .display-3 {
    font-weight: 600;
  }
}

#form-slide {
  background-image: url("../images/formSlide.jpg");
  .ta-slide_content {
    padding: 5.9rem 15px 5rem;
  }
  @include media-breakpoint-down(xs) {
    .ta-slide_content {
      padding: 3.5rem 15px 4rem;
    }
  }
}

