$primary: #ff264a;
$secondary: #ffdc73;
$bg-shadow: rgba(33, 15, 19, 0.85);
$bg-dark: #1d1016;
$black: #252525;
$black-light: #454545;


$theme-colors: ();
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
), $theme-colors);

$navbar-dark-color: $white;
$navbar-dark-hover-color: $secondary;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 980px,
        xl: 1170px
);


$font-family-serif:  Georgia, serif;


$display1-size: 4rem;
$display1-weight: 600;
$display2-size: 2.5rem;
$display2-weight: 700;
$display3-size: 2rem;
$display3-weight: 700;
$display4-size: 1.75rem;
$display4-weight: 700;
